# Configuración de base de datos (Supabase)
DB_HOST=aws-1-us-west-2.pooler.supabase.com
DB_PORT=5432
DB_USERNAME=postgres.qhpgfzahpcnohbxfvzqu
DB_PASSWORD=[#figus_App#]
DB_NAME=postgres

# Otras configuraciones
NODE_ENV=development
JWT_SECRET=super_super_secret_key_change_me
JWT_EXPIRES_IN=1h
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
