/dist
/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/logs
*.log

.env
.env.production
.env.staging
.env.development
.env.local
.env.*.local

.DS_Store
Thumbs.db

.vscode/
.idea/

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/coverage

*.tsbuildinfo

.npm
.cache/
.tmp/

/uploads/.gitkeep

/uploads/private/.gitkeep
/uploads/private/*
!/uploads/private/.gitkeep

/uploads/public/.gitkeep
!/uploads/public/**

/node_modules/